@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

/* variables */


/* reset */


/* base styles */


/* fonts */


/* mobile styles */


/* small table styles */
@media screen and (min-width: 620px) {
    
}

/* large tablets and laptops styles */
@media screen and (min-width: 960px) {
    
}

/* desktop styles */
@media screen and (min-width: 1200px) {
    
}